<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
	<link href="/static/presentation/index.css" rel="stylesheet">
	<div>
		<form id="upload-file" role="form" action="upload" method="post" enctype="multipart/form-data">
			<!-- <fieldset> -->
			<div class="col-sm-6 col-md-6">
				<input id="code-input" type="file" name="file[]" multiple />
			</div>
			<!-- </fieldset> -->
			<!-- <br> -->
			<!-- <fieldset> -->
			<div class="col-sm-6 col-md-6">
				<span class="code-submission btn btn-primary center-block" href="#myModal" id="upload-file-btn" type="button" disabled>Submit to 235 C++ Style Checker</button></span>
			</div>
			<!-- </fieldset> -->
		</form>
		<div class="modal" id="myModal">
			<div class="modal-dialog feedBackDialog">
				<div class="modal-content" id="feedback-window">
					<div class="modal-header">

						<!--<button href="javascript:void();" id="#upload-file" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>-->
						<h2 class="modal-title">Feedback</h2>
					</div>
					<div class="modal-body" id="feedback-body" class="prettyprint">
						<ul id="errorlist" class="list-unstyled">
						</ul>
					</div>
					<div class="modal-footer">
						<a href="#" class="closeBtn btn btn-primary" data-dismiss="modal">Close</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<pre class="col-sm-12 col-md-12 " hidden="true">
		<ul id="errorlist2" class="list-unstyled">
		</ul>
	</pre>
{% endblock %}
