<!-- extend base layout -->
{% extends "base.html" %}
{% block headcontent %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.7/css/fileinput.min.css" integrity="sha256-YE3/alforvoDn/7ehvi04K6vJpMkuDGBIgVZXk4vWfg=" crossorigin="anonymous" />
	<link href="/static/presentation/index.css" rel="stylesheet">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.2/js/fileinput.min.js" integrity="sha512-wvbv0QlgtUZ1jkgRfB7HNUICt+27sqAUh2IwVJXfN9q7rtrmgbdI6LQjhzurdLo1+vxO645+GY+Kq8Vop0WA4w==" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js" integrity="sha256-PieqE0QdEDMppwXrTzSZQr6tWFX3W5KkyRVyF1zN3eg=" crossorigin="anonymous"></script>

	<script src="/static/behavior/scripts.js"></script>
{% endblock %}

{% block content %}
	<!-- Header/Jumbotron -->
	<div class="jumbotron text-center">
		<h1 style="margin-top:0;padding-top:0">235 C++ Style <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span></h1>
		<p>Submit any number of C++ files.</p>
		<p>Receive instant feedback on each line of code.</p>
		<p>Resubmit your code as often as you want.</p>
		<div id="spinner"></div>
	</div>

	<div class="row-fluid">
		<form id="upload-file" role="form" action="upload" method="post" enctype="multipart/form-data" data-toggle="validator">
			<div class="col-sm-6 col-md-6">
				<input id="code-input" type="file" name="file[]" multiple />
			</div>
			<div class="col-sm-6 col-md-6">
				<div class="form-group" id="agreementDiv">
					<div class="checkbox">
						<label>
							<input type="checkbox" id="agreementCheck" data-error="You must check the box to continue." required="">
							I understand the <a href="/syllabus#academic-integrity-and-the-honor-code" style="text-decoration: underline;">Academic Integrity Policy</a> and I alone wrote this code.
						</label>
						<div class="help-block with-errors"></div>
					</div>
				</div>
				<button class="code-submission btn btn-primary center-block" id="upload-file-btn" type="button" disabled>Submit to 235 C++ Style Checker</button>
			</div>
		</form>
	</div>

	<div id="errorblock" class="row" hidden="hidden">
		<div id="errorlist2"></div>
	</div>
{% endblock %}
