{% extends "base.html" %}
{% block headcontent %}
<style>
	pre[class*="language-"].bad>code {
		position: relative;
		border-left: 10px solid #dc3545;
		box-shadow: -1px 0px 0px 0px #dc3545, 0px 0px 0px 1px #dfdfdf;
		background-image: linear-gradient(transparent 50%, rgba(220, 75, 89, 0.06) 50%);
	}

	.sect1 h2 {
		padding-top: 52px;
	}





	/* make sidebar nav vertical */
	.sidebar-nav h4 {
		text-align: center;
	}
@media (min-width: 768px){

		.affix-content .content .page-header{
		margin-top: 0;
	}
	.sidebar-nav{
			position:fixed;
			/*width:100%;*/
	}
	.affix-sidebar{
		padding-right:0;
		font-size:small;
		padding-left: 0;
	}
	.affix-row, .affix-container, .affix-content{
		height: 100%;
		margin-left: 0;
		margin-right: 0;
	}
	.affix-content{
		background-color:white;
	}
	.sidebar-nav .navbar .navbar-collapse {
		padding: 0;
		max-height: none;
	}
	.sidebar-nav .navbar{
		border-radius:0;
		margin-bottom:0;
		border:0;
	}
	.sidebar-nav .navbar ul {
		float: none;
		display: block;
	}
	.sidebar-nav .navbar li {
		float: none;
		display: block;
	}
	.sidebar-nav .navbar li a {
		padding-top: 12px;
		padding-bottom: 12px;
	}
}

@media (min-width: 769px){
		.affix-content .content .page-header{
		margin-top: 0;
	}
}

@media (min-width: 992px){
		.affix-content .content .page-header{
		margin-top: 0;
	}
}

@media (min-width: 1220px){
	.affix-row{
		overflow: hidden;
	}

	.affix-content{
		overflow: auto;
	}


	.affix-content .content .page-header{
		margin-top: 0;
	}
	.affix-content{
		padding-right: 30px;
		padding-left: 30px;
	}
	.affix-title{
		border-bottom: 1px solid #ecf0f1;
		padding-bottom:10px;
	}
	.navbar-nav {
		margin: 0;
	}
	.navbar-collapse{
		padding: 0;
	}
	.sidebar-nav .navbar li a:hover {
		background-color: #428bca;
		color: white;
	}
	.sidebar-nav .navbar li a > .caret {
		margin-top: 8px;
	}
}

</style>
<script>
	$(function() {
		$("code").addClass("language-cpp");
	});
</script>
<link href="/static/presentation/prism.css" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="row affix-row">
	<div class="col-sm-3 col-md-2 affix-sidebar">
		<div class="sidebar-nav">
			<div class="navbar navbar-default" role="navigation">
				<h4>Table of Contents</h4>
				<ul class="nav navbar-nav" id="sidenav01">
					<li><a href="#_comments">Comments</a></li>
					<li><a href="#_whitespace_and_indentation">Whitespace &amp; Indentation</a></li>
					<li><a href="#_variables_and_constants">Variables &amp; Constants</a></li>
					<li><a href="#_conditions">Conditions</a></li>
					<li><a href="#_switches">Switches</a></li>
					<li><a href="#_loops">Loops</a></li>
					<li><a href="#_functions">Functions</a></li>
					<li><a href="#_data_types">Enums and Structs</a></li>
					<li><a href="#_platform_specific">Platform Specific Code</a></li>
					<li><a href="#_other">Other</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-sm-9 col-md-10 affix-content">
		<div class="content">

			<div class="page-header">
				<h1><span class="glyphicon glyphicon glyphicon-console"></span> Style Guide</h1>
				<div class="details">
					<span id="author" class="author">CSCI 235. Spring 2018.</span><br>
				</div>
			</div>

			<p>Each coding assignment must follow this standard. Using one style consistently throughout the source code lets us focus on other (more important) issues.</p>

			<p>There&rsquo;s no one, right way to write code. But there are definitely a lot of wrong (or, at least, bad) ways. Certainly it is possible to write &ldquo;correct&rdquo; code that violates the guidelines below. Even so, we ask that you adhere to these conventions for CSCI 235 to motivate consistency and readability in your personal coding style.</p>

			<p>Companies typically adopt their own, company-wide conventions for style. Learning to carefully obey a style guide, and writing code with a group of other developers where the style is consistent among them, are valuable job skills.</p>

			<hr />



			<!-- New Section -->
			<div class="sect1">
			<h2 id="_comments">Comments</h2>
			<div class="sectionbody">
				<h3>Comment Style</h3>
				<p>Use the <code class="language-cpp">/* */</code> syntax for multi-line comments and <code class="language-cpp">//</code> for single-line comments.</p>

				<h3>Program Description</h3>
				<p>Atop each file, include a commented header with a brief description of the program or file and the programmer's name. Write the description in your own words.</p>
				<pre class="language-cpp"><code>/*
* Simulates the count to launch an Apollo rocket. The countdown starts
* at 10 and continues down to 0 (takeoff). This includes the main-
* engine start at T-6.6 seconds.
*
* by Dr. Hayes
*/</code></pre>

				<h3>Commenting Blocks of Code</h3>
				<p>Comments should be present throughout your code. They make code more readable, not only for others like your instructor but also for you.</p>

				<p><em>How much and how often to comment?</em> Commenting too little is bad. Commenting too much is bad. Commenting every few lines of code (i.e., interesting blocks) that actually do something is a decent rule of thumb. Put a comment above every code block (e.g., above if statements, loops, etc.). Also, try to write comments that explain the meaning of non-obvious code and describe why you implemented a block in a certain way. Keep comments short (try to keep them to 1 line each, unless you are explaining something complex).</p>
				<pre class="language-cpp good"><code>const double TEMP_RATIO = 5.0 / 9.0; // ratio of Celsius to Fahrenheit

// convert Fahrenheit to Celsius
double celsius = TEMP_RATIO * (fahr - 32.0);</code></pre>


				<p>Place comments their own line(s), preceding whatever you are explaining, or on the same line (if it is very brief), but <strong>not</strong> or next line. In other words, <strong>don&rsquo;t</strong> do this:</p>

				<pre class="language-cpp bad"><code>double celsius = TEMP_RATIO * (fahr - 32.0);
// convert Fahrenheit to Celsius</code></pre>

				<h3>Function Prototype Comments</h3>
				<p>Each function created by you (except <code class="language-cpp">main()</code>) should have an comment above its declaration (prototype). More on this in the <a href="#_functions">Functions</a> sections.</p>

				<h3>Commenting out Code</h3>
				<p>When working on code, programmers tend to &ldquo;comment out&rdquo; lines of code to exclude them from the program without deleting them. It&rsquo;s fine to do this while you work on your program, but it is considered bad style to turn in a file with blocks of code commented out. If the program is done and such code is not needed, just remove it.</p>
				</div>
			</div>


			<!-- New Section -->
			<div class="sect1">
			<h2 id="_whitespace_and_indentation">Whitespace and Indentation</h2>
			<div class="sectionbody">
			<p>Use a single space between operators and their operands:</p>
					<pre class="language-cpp good"><code>count += (point1 - point2) * unit / time + random();</code></pre>

					<p>Certainly don&rsquo;t do this:</p>
					<pre class="language-cpp bad"><code>count+=(point1-point2)*unit/time+random();</code></pre>
			</ul>

			<h3>Indentation</h3>
			<p>Indent your code with one hard tabs (or four spaces) at a time to make clear which blocks of code are inside of others.</p>

					<div class="alert alert-warning">
						<span class="glyphicon glyphicon-warning-sign"></span> <strong>Warning:</strong> If you use your keyboard&rsquo;s Tab key to do so, be sure that your text editor is configured to convert tabs (<code>'\t'</code>) to an actual tab (i.e. a hard tab) or four spaces, else your code may not print or display properly on someone else&rsquo;s computer. The tab key renders differently in different editors.
					</div>
					<div class="alert alert-success" role="alert"><span class="glyphicon glyphicon-check"></span> <b>Tip:</b>
						In Visual Studio Code, take a look at the blue status bar at the bottom. To the right, you will see "Spaces: " or "Tab-Size", which indicates if you are indenting with & number of spaces or with tabs receptively.
						<!--To ensure that Xcode converts Tabs to four spaces, take a look at <a href="https://eecs183.org/docs/getting_started_with_xcode/#_tuning_xcode" class="bare">https://eecs183.org/docs/getting_started_with_xcode/#_tuning_xcode</a>.-->
					</div>
				<ul>
				<li>
					<p>Increase your indentation by one increment on each curly brace <code>{</code>, and decrease it once on each closing brace <code>}</code>.</p>
				</li>
				<li>
					<p>Place a line break after every <code>{</code> .</p>
				</li>
			</ul>
			<p>Here&rsquo;s an example of well-indented code:</p>
<pre class="language-cpp"><code>int main()
{
	int val = 0;
	if (val > 0)
	{
		cout << "The value is positive." << endl;
	}
	else
	{
		// Display 3 stars
		for (int iter = 0; iter < 3; iter++)
		{
			cout << "*";
		}
	}
	return 0;
}</code></pre>


					<p>And here&rsquo;s an example of bad indentation:</p>

<pre class="language-cpp bad"><code>int main()
int val = 0;

if (xval > 0)
{
cout << "The value is positive." << endl;
}
else
{
// Display 3 stars
for (int iter = 0; iter < 3; iter++)
{
cout << "*";
}
}
return 0;
}</code></pre>
					<div class="alert alert-success" role="alert"><span class="glyphicon glyphicon-check"></span> <b>Tip:</b>
						<strong>Visual Studio Code</strong> will automatically re-indent select code if you press <kbd>Shift + Alt + F</kbd> on Windows or <kbd>Shift + Option + F</kbd> on macOS.<br />
						<strong>Xcode</strong> will automatically re-indent selected code if you press <kbd>Control + I</kbd> (or choose <strong>Editor &gt; Structure &gt; Re-Indent</strong> from the file menu).
					</div>
<h3>New Lines</h3>
			<p>Always put a newline after a semicolon (we’ll talk about one exception to the rule when we get to for loops).</p>

<p>Bad:</p>
<pre class="language-cpp bad"><code>int age; double weight, height; string name;
cout << "Enter your age: "; cin >> age; // Get the user's age
</code></pre>

<p>Good:</p>
<pre class="language-cpp good"><code>int age;

// Get the user's age
cout << "Enter your age: ";
cin >> age;
</code></pre>
				<p>Do not place more than one statement on the same line.</p>
				<p>Nothing goes on the same line after an opening curly brace (<code>{</code>).<br />
				Noting goes on the same line before a closing curly brace (<code>}</code>).</p>

				<p>Bad:</p>
<pre class="language-cpp bad"><code>int main()
{   cout << "Hi" << endl;
		return 0; }</code></pre>

				<p>Good:</p>
<pre class="language-cpp"><code>int main()
{
		cout << "Hi" << endl;
		return 0;
}</code></pre>



			<h3>Long Lines</h3>
			<p>If a statement is really long (more than 80 characters), split the statement into multiple lines, with each subsequent line indented.</p>

			<p>This is bad:</p>
			<pre class="language-cpp bad"><code>cout &lt;&lt; "This is a really long line " &lt;&lt; 5 * 10 / denom &lt;&lt; " and more text." &lt;&lt; endl;</code></pre>
			<p>This is how the previous line should look:</p>
<pre class="language-cpp"><code>cout &lt;&lt; "This is a really long line "
		&lt;&lt; 5 * 10 / denom
		&lt;&lt; " and more text." &lt;&lt; endl;</code></pre>


			<p>Good example of a function prototype:</p>
<pre class="language-cpp"><code>void reallyLongFunctionName(int with, int lots,
	int of, int parameters);</code></pre>
			<div class="alert alert-success" role="alert"><span class="glyphicon glyphicon-check"></span> <b>Tip:</b>
			To add a line to Visual Studio Code indicating the 80 character mark, go to <strong>File > Preferences > User/Workspace settings</strong>
Add this line to your custom settings on the right: <code>"editor.rulers": [80],</code>
			</div>
		</div>
	</div>

			<!-- New Section -->
			<div class="sect1">
			<div class="sectionbody">
			<h2 id="_variables_and_constants">Variables and Constants</h2>
			<h4>Identifiers</h4>
			<p>In programming languages, names you give to things are called <em>identifiers</em>.</p>
			<ul>
				<li>Identifiers should be meaningful, such as <code>numberOfGames</code>. Identifiers like <code>herp</code> and <code>derp</code> are funny, but not helpful.
				</li>
				<li><p>A single letter cannot be a descriptive identifier. Avoid even the commonly used loop variables like <code>i</code> and <code>j</code>. Good alternatives are <code>index</code> or <code>iter</code>.</p>
				<div>Bad example names: <pre class="language-cpp bad"><code>int x, y, i, clr lineW;</code></pre></div>
				<div>Good example names: <pre class="language-cpp good"><code>int xCoord, yCoord, index, color,  lineWidth;</code></pre></div>
				</li>
				<li><p>Unless constant or a new data type (see below), all identifiers should start with a lowercase letter and each subsequent word should start with a capital letter (i,e., camel case).</p>

					<p>Bad examples:</p>
<pre class="language-cpp bad"><code>int Time;
double percent_increase;
string FirstName;</code></pre>
					<p>Good examples:</p>
<pre class="language-cpp good"><code>int time;
double percentIncrease;
string firstName;</code></pre>
				</li>
			</ul>
			<h4>Naming Constants</h4>
				<p>Constants should be named in all caps with each word separated by an underscore (<code class="language-cpp">_</code>).</p>

				<p>Good examples:</p>
<pre class="language-cpp"><code>const double PI = 3.14159;
const double INCH_TO_CM = 2.54;
const double CM_TO_INCH = 1.0 / INCH_TO_CM;
const int MAX_SCORE = 1000;</code></pre>

			<h4>Variable Declaration and Assignment</h4>
				<ul>
					<li>Declare variables in the smallest scope possible.</li>

					<li>Choose appropriate data types for your variables. If a given variable can store only integers, give it type <code>int</code> rather than <code>double</code>. If a variable stores characters, make it a <code>char</code> instead of an <code>int</code>.</li>

					<li>Never use <code>0</code> and <code>1</code> with <code>bool</code> variables. <code>true</code> and <code>false</code> exist for a reason.</li>

					<li>
						<p>Initialize variables at declaration when appropriate:</p>
						<pre class="language-cpp"><code>int count = 0;</code></pre>
						<p>In other words, don&rsquo;t do this:</p>
						<pre class="language-cpp bad"><code>int count;
...
count = 0;</code></pre>
					</li>
					<li>
						<p>If a variable&rsquo;s value doesn&rsquo;t change throughout the code, it should be declared as a constant and be named in all caps <code>LIKE_THIS</code>:</p>
						<pre class="language-cpp"><code data-lang="c++">const int NUMBER_OF_PROJECTS = 5;</code></pre>
					</li>
				</ul>
				<h4>Global Variables and "Magic" Numbers</h4>
				<ul>
					<li>
						<p>Non-constant global variables (those declared outside of functions, including <code>main()</code>) must never be used. They lead to unintentional bugs and often caused by poor design. Instead, you should be passing variables via functions.</p>
					</li>
					<li>
						<p>Global constants are acceptable when needed.</p>
					</li>
					<li>
						<p><strong>Magic numbers</strong><sup class="footnote">[<a id="_footnoteref_1" class="footnote" href="#_footnote_1" title="View footnote.">1</a>]</sup> are seemingly random constants within your program, numbers whose appearance in code isn&rsquo;t clear from the outset. You should avoid magic numbers at all costs. Fortunately, C++ provides us with an easy way to do so by storing such numbers in constants. So, don&rsquo;t write:</p>
						<pre class="language-cpp bad"><code>double area = 3.141592 * radius * radius;</code></pre>
						<p>Instead, store the number in a constant:</p>
<pre class="language-cpp"><code>const double PI = 3.141592;
double area = PI * radius * radius;</code></pre>
						<p>However, don&rsquo;t just restate the value with your identifiers:</p>
<pre class="language-cpp bad"><code>const int TWO = 2;
...
if (n % TWO)
...</code></pre>

						<p>This adds no meaning to your code.</p>

						<p>The reason is that we want to make it clear both to the compiler and to readers of the program that this quantity can&rsquo;t be changed. The compiler can often produce better machine code with that knowledge. And the reader gets a more precise understanding of the program’s behavior. Moreover, if the programmer (you!) decides to ever change that value, he or she will have do that just in one place!</p>
					</li>
				</ul>
			</div>
		</div>






		<!-- New Section -->
		<div class="sect1">
			<h2 id="_conditions">Conditions</h2>
			<div class="sectionbody">
					<ul>
						<li>
							<p>Always use curly braces (even when not necessary) and use consistent brace style. In other words, do either this:</p>
<pre class="language-cpp"><code>if (x > 0)
{
	cout &lt;&lt; "x is positive." &lt;&lt; endl;
}</code></pre>
							<p>But avoid doing this:</p>

<pre class="language-cpp bad"><code>if (x > 0)
	cout &lt;&lt; "x is positive." &lt;&lt; endl;</code></pre>
							<div class="paragraph">
								<p>or</p>
							</div>
<pre class="language-cpp bad"><code data-lang="c++">if (x > 0)
	{
	cout << "x is positive." << endl;
	}</code></pre>
						</li>
						<li>
							<p>Don&rsquo;t ever test whether a <code>bool</code> value is <code>==</code> or <code>!=</code> to <code>true</code> or <code>false</code>. Don&rsquo;t do</p>
							<pre class="language-cpp bad"><code data-lang="c++">if (isValid == true)</code></pre>
							<p>or</p>

							<pre class="language-cpp bad"><code data-lang="c++">if (isValid == false)</code></pre>
							<p>Do check if a variable is <code>true</code> or <code>false</code> as in:</p>
							<pre class="language-cpp"><code data-lang="c++">if (isValid)</code></pre>
							<p>or</p>
							<pre class="language-cpp"><code data-lang="c++">if (!isValid)</code></pre>
						</li>
						<li>
							<p>If you have an if/else statement that returns a <code>bool</code> value based on a test, such as this one:</p>
<pre class="language-cpp"><code data-lang="c++">if (score1 == score2)
{
		return true;
}
else
{
		return false;
}</code></pre>
							<p>replace it with a single statement that just directly returns the test&rsquo;s result:</p>
									<pre class="pygments highlight"><code data-lang="c++">return score1 == score2;</code></pre>
						</li>
					</ul>
		</div>
	</div>





				<!-- New Section -->
				<div class="sect1">



			<h2 id="_switches">Switches</h2>
			<div class="sectionbody">
					<ul>
						<li>
							<p>Indent your switch statements like this:</p>
<pre class="language-cpp"><code data-lang="c++">switch (val)
{
	case -1:
		cout << "value is -1" << endl;
		break;
	case 1:
		cout << "value is 1" << endl;
		break;
	default:
		cout << "value is neither -1 nor 1" << endl;
		break;
}</code></pre>
						</li>

						<div class="alert alert-warning">
							<span class="glyphicon glyphicon-warning-sign"></span> <strong>Warning:</strong> Generally, switch statements should be the only place where you use <code>break;</code>.
						</div>
					</ul>
			</div>
		</div>



		<!-- New Section -->
		<div class="sect1">
			<h2 id="_loops">Loops</h2>
			<div class="sectionbody">
				<ul>
					<li>
						<p>Whenever you a counting variable, use more specific names than <code>i</code>, <code>j</code>, &hellip;.</p>
						<div class="listingblock good">
							<div class="content">
<pre class="language-cpp"><code data-lang="c++">for (int rowIeter = 0; rowIeter < rowCount; rowIeter++)
{
	for (int colIter = 0; colIter < colCount; colIter++)
	{
		// do something
	}
}</code></pre>
							</div>
						</div>
							<p>If you find yourself in need of more than three levels of nested loops, you should reconsider your design!</p>
					</li>
					<li>
						<p>A <code>for</code> loop should look like the one above, while a <code>while</code> loop should resemble this one below:</p>
<pre class="language-cpp"><code data-lang="c++">while (num &lt; 0)
{
	cin &gt;&gt; num;
}</code></pre>
					</li>
					<li>Avoid <code>break</code> statements and never use <code>continue</code> statements in loops. Loops should be controlled by a condition and should terminate when that condition is met. Generally, <code>break</code> should only be used inside of a <code>switch</code>.
					</li>
					<li>Never write endless loops, such as <code>while (true)</code>.</li>
					<li>
						<p>Use a <code>for</code> loop when the number of repetitions is known (definite); use a <code>while</code> loop when the number of repetitions is unknown (indefinite).</p>
<pre class="language-cpp good"><code>// repeat exactly size times
for (int i = 0; i < size; i++)
{
	// do something
}

// repeat until there are no more lines
string str;
while (cin >> str)
{
	// do something
}</code></pre>
					</li>
				</ul>
			</div>
		</div>




			<!-- New Section -->
			<div class="sect1">
			<h2 id="_functions">Functions</h2>
			<div class="sectionbody">
				<p>Like non-constant variables, function names should be camel case (i.e., start with a lowercase letter and each subsequent word should start with a capital letter).</p>

				<p>Value-returning functions should be named after what they return and void functions after what they do.</p>

				<div>Good examples:
<pre class="language-cpp"><code>bool isPrime(int num);

void displayStats (double average, int median, int min, int max);

void spinSpinner (int numberOfTurns);</code></pre></div>


				<p>Always include function prototypes before the <code class="language-cpp">main()</code> function and function definitions below <code class="language-cpp">main()</code>.</p>

<p>Every function should except <code class="language-cpp">main()</code> should have function prototype that is declared before <code class="language-cpp">main()</code>. Function definitions should be defined below <code class="language-cpp">main()</code>.</p>

				<h4>Function Prototype Comments</h4>
				<p>Each function prototype (except `main()`) should be directly preceded by a comment describing what the function does and how to use (call) it.</p>

<p>Good example:</p>
<pre class="language-cpp"><code>/**
 * A function that draws a spinning animation
 * @param numberOfTurns the number of times the spinner spins.
 */
void spinSpinner(int numberOfTurns);</code></pre>

				<!--
					<ul>
						<li>
							<p>Above each function you create, write a multi-line comment that addresses these questions:</p>
							<div class="olist arabic">
								<ol class="arabic">
									<li>
										<p>What does the function <strong>require</strong>? Are any variables assumed to be of certain value?</p>
									</li>
									<li>
										<p>Does the function <strong>modify</strong> any variables' values? This usually applies to functions whose arguments are passed by reference.</p>
									</li>
									<li>
										<p>What does the function do, i.e. <strong>effect</strong>? Does the function return or print anything?</p>
									</li>
								</ol>
							</div>
						</li>
						<li>
							<p>This comment is known as RME. As an example, take a look at a possible RME comment for a function that returns the square root of its argument:</p>
							<div class="listingblock good">
								<div class="content">
									<pre class="pygments highlight"><code data-lang="c++"><span class="tok-cm">/**</span>
									<span class="tok-cm"> * Requires: n &gt;= 0.</span>
									<span class="tok-cm"> * Modifies: Nothing.</span>
									<span class="tok-cm"> * Effects:  Returns square root of n.</span>
									<span class="tok-cm"> */</span>
									<span class="tok-kt">double</span> <span class="tok-nf">squareRoot</span><span class="tok-p">(</span><span class="tok-kt">double</span> <span class="tok-n">n</span><span class="tok-p">);</span></code></pre>
								</div>
							</div>
						</li>
						<li>
							<p>Be sure to place RME comments above functions' declarations (prototypes), not above (or below) functions' definitions.</p>
						</li>
					-->
					<h4>Function Decomposition</h4>
					<ul>
						<li>
							<p>Often you might find yourself writing similar blocks of code. Utilize functions to decompose your program and minimize redundancy in code.</p>
<pre class="language-cpp bad"><code>cout << "What is your first name?" << endl;
cin >> firstName;
...
cout << "What is your last name?" << endl;
cin >> lastName;
...
cout << "What is your email?" << endl;
cin >> email;</code></pre>
						</li>
						<li>
							<p>Instead create and use helper functions that incorporate the common functionality:</p>
<pre class="language-cpp"><code>firstName = getInfo("What is your first name?");
...
lastName = getInfo("What is your last name?");
...
email = getInfo("What is your email?");
...
string getInfo(const string&amp; prompt)
{
		cout << prompt << endl;
		string input;
		cin >> input;
		return input;
}</code></pre>
						</li>
						<li>
							<p>If you have a single function that is very long, break it apart into smaller sub-functions. The definition of &ldquo;very long&rdquo; is vague, but let&rsquo;s say a function longer than 40-50 lines is pushing it. If you try to describe the function&rsquo;s purpose and find yourself using the word &ldquo;and&rdquo; a lot, that probably means the function does too many things and should be split into sub-functions.</p>
						</li>
					</ul>
			</div>
		</div>




		<!-- New Section -->
		<div class="sect1">
			<h2 id="_data_types">Enums and Structs</h2>
			<div class="sectionbody">
				<ul>
					<li>Use <code>PascalCase</code> for enum, struct, and class names. (Notice how the first letter is capitalized.)</li>
					<li>A comment should directly precede each enum or struct declaration describing the purpose of the data type.</li>
					<li>The values an enum should named in all caps with each word separated by an underscore (<code class="language-cpp">_</code>).</li>
				</ul>
			</div>
		</div>




		<!-- New Section -->
		<div class="sect1">
			<h2 id="_platform_specific">Platform Specific Code</h2>
			<div class="sectionbody">
				<p>All programs should compile and run on any system. We want our code to be "portable", meaning able to be compiled and run on multiple systems.</p>

				<h3>Avoid System Calls</h3>
				<p>A system call is when your program calls another program on the system. In C++ this is commonly done through a function called <code>system()</code>. These calls are tempting, because they provide additional features to your program without having to learn the programming to do them.</p>

				<p>Bad:</p>
<pre class="language-cpp bad"><code>system("PAUSE"); // Windows-only way to pause execution.
system("CLS"); // Windows-only way to clear the screen.</code></pre>

				<p>Good example to pause execution using C++</p>
<pre class="language-cpp good"><code>cout << "Press enter to continue . . .";
cin.ignore(INT_MAX, '\n'); // ignore everything typed until user hits enter.</code></pre>

				<h3>Non-standard libraries / includes</h3>
				<p>Avoid the user of operating system specific libraries. We want code that compiles on all operating systems.</p>
				<p>Example of Bad Code:</p>
				<pre class="language-cpp bad"><code>#include &lt;windows.h&gt;</code></pre>
				<p>Use of following standard libraries is encourage:</p>
				<ul>
					<li><a href="http://www.cplusplus.com/reference/cassert/">cassert</a></li>
					<li><a href="http://www.cplusplus.com/reference/cctype/">cctype</a></li>
					<li><a href="http://www.cplusplus.com/reference/cfloat/">cfloat</a></li>
					<li><a href="http://www.cplusplus.com/reference/chrono/">chrono</a></li>
					<li><a href="http://www.cplusplus.com/reference/climits/">climits</a></li>
					<li><a href="http://www.cplusplus.com/reference/cmath/">cmath</a></li>
					<li><a href="http://www.cplusplus.com/reference/cstddef/">cstddef</a></li>
					<li><a href="http://www.cplusplus.com/reference/cstdlib/">cstdlib</a></li>
					<li><a href="http://www.cplusplus.com/reference/cstring/">cstring</a></li>
					<li><a href="http://www.cplusplus.com/reference/ctime/">ctime</a></li>
					<li><a href="http://www.cplusplus.com/reference/fstream/">fstream</a></li>
					<li><a href="http://www.cplusplus.com/reference/string/">string</a></li>
					<li><a href="http://www.cplusplus.com/reference/iostream/">iostream</a></li>
					<li><a href="http://www.cplusplus.com/reference/iomanip/">iomanip</a></li>
					<li><a href="http://www.cplusplus.com/reference/ostream/">ostream</a></li>
					<li><a href="http://www.cplusplus.com/reference/random/">random</a></li>
					<li><a href="http://www.cplusplus.com/reference/thread/">thread</a></li>
				</ul>
			</div>
		</div>
		<!-- New Section -->
		<div class="sect1">
			<h2 id="_other">Other</h2>
			<div class="sectionbody">
				<div class="ulist">
					<ul>
						<!--
							<li>
								<p>Never use <code>ignore</code> to get past characters in the input stream. <code>getline</code> is a far superior choice.</p>
							</li>
						-->
						<li>C++ contains an <code>exit()</code> function that immediately exits your entire program. You should <strong>never</strong> call this function in this course. Your program should always exit naturally by reaching the end of your <code>main</code> function and returning.</li>
						<li>Never use <code>goto</code> to go to another line of code. Instead, make use of functions and loops!</li>
						<li>Never use <code>stringstream</code> for this course.</li>
					</ul>
				</div>
			</div>
		</div>
			<div id="footnotes">
				<hr />
				<div class="footnote" id="_footnote_1">
					<a href="#_footnoteref_1">1</a>. <a href="http://thedailywtf.com/articles/Magic-Number-7" class="bare" target="_blank">http://thedailywtf.com/articles/Magic-Number-7</a>
				</div>
			</div>
			<footer>Last updated 2018-1-24 EDT</footer>
		</div>
	</div>
</div>
	<script src="static/behavior/prism.js"></script>
{% endblock %}